<div class="container">
    <h1 class="text-center display-5">Search</h1>
    <div class="d-flex justify-content-center align-items-center">
        <form action="/profile" method="POST">
            <div class="mb-3">
                <label for="emailId" class="form-label">Dog Name</label>
                <input type="text" name="name" value="Tommy" class="form-control" id="emailId">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Owner Name</label>
                <input type="text" name="ownerName" value="Raman Raj" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>